<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title th:text="${hoodUser.username}"></title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/resources/css/1-col-portfolio.css}" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a th:href="@{|/user/${#authentication.name}|}" sec:authorize="isAuthenticated()">
                        <span sec:authentication="name">hoodUser-name</span>
                    </a>

                    <a href="/user/login" sec:authorize="not isAuthenticated()">
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-4 column">
                <ul class="nav nav-list">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </div>
            <div class="col-md-8 column">
                <dl>
                    <dt>
                        <strong>Profile picture</strong>
                    </dt>
                    <dd>
                        <img height="100" th:src="@{/resources/img/default.jpg}"/>
                        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>

                    </dd>
                </dl>

            </div>
        </div>
    </div>

</div>

<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}" charset="utf-8"></script>
</body>
</html>